<nav class="fixed bg-nav top-0 w-full z-20 h-16 sm:h-20 lg:h-24 px-5 sm:px-8 md:px-12 lg:px-16 xl:px-24 bg-base flex items-center justify-between">
  <%= link_to root_path do %>
    <div class="font-playfair tracking-wider text-3xl font-bold">
      Blog
    </div>
  <% end %>
  <div class="flex -mr-2.5 lg:mr-0 lg:space-x-4 items-center">
    <div class="hidden lg:flex lg:space-x-2">
      <%= link_to 'Home', root_path, class: "#{'font-bold text-primary' if current_page? root_path }" %>
      <%= link_to 'About', about_path, class: "#{'font-bold text-primary' if current_page? about_path }" %>
      <%= link_to 'Contact', contact_path, class: "#{'font-bold text-primary' if current_page? contact_path }" %>
    </div>
    <button title="Toggle color scheme"
            data-controller="theme"
            data-action="click->theme#toggleTheme"
            type=button
            class="p-2">
      <div class="hidden dark:block">
        <%= render 'shared/svgs/sun', size: 30 %>
      </div>
      <div class="dark:hidden block">
        <%= render 'shared/svgs/moon', size: 30 %>
      </div>
    </button>

    <div class="lg:hidden">
      <%= render 'layouts/nav/mobile_menu_btn' %>
    </div>
  </div>
</nav>