<div id="<%= dom_id post %>">
  <h2 class="my-1 font-display font-bold text-3xl lg:text-4xl">
    <%= post.title %>
  </h2>

  <p class="flex space-x-2 text-muted">
    <span>John Doe</span>
    <span>&bull;</span>
    <span><%= time_tag post.created_at.to_date %></span>
  </p>

  <hr class="mt-6 border dark:border-surface"/>

  <div class="my-6 text-lg">
    <%= post.content %>
  </div>



  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "btn btn-primary" %>
    <% if admin_signed_in? %>
      <%= link_to 'Edit this post', edit_post_path(post), class: "btn btn-tertiary" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
