<%= turbo_stream_from @post %>

<div class="mx-auto md:max-w-3xl w-full flex">
  <div class="mx-auto space-y-4">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'posts/full_post', post: @post %>
    <hr class="mt-6 border dark:border-surface"/>
    <hr class="mt-6 border dark:border-surface"/>
    <%= render 'posts/comments', post: @post %>

    <% if admin_signed_in? %>
    <%= link_to 'Edit this post', edit_post_path(@post), class: "btn btn-secondary" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this post', post_path(@post), method: :delete, class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
