<!DOCTYPE html>
<html class="dark theme-dark box-border", lang="en">
<head>
  <title>Rails Blog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_tag type: 'application/javascript' do %>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    localStorage.theme = 'dark'
    } else {
    document.documentElement.classList.remove('theme-dark')
    document.documentElement.classList.remove('dark')
    localStorage.theme = 'light'
    }
  <% end %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <%= favicon_link_tag 'icons/favicon.ico' %>
</head>

<body class="bg-base text-based">
<header data-controller="mobile-menu">
  <%= render 'layouts/nav/navbar' %>
</header>
<main class="container mx-auto mt-24 sm:mt-28 px-5">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</main>

<ninja-keys data-controller="command-palette"></ninja-keys>
</body>
</html>
